version: '3'

services:
    front:
        ports:
            - "80:80"

    api:
        ports:
            - "8000:80"
#        environment:
#            BLACKFIRE_CLIENT_ID:
#            BLACKFIRE_CLIENT_TOKEN:
#
#    blackfire:
#        image: blackfire/blackfire
#        environment:
#            BLACKFIRE_LOG_LEVEL: 4
#            BLACKFIRE_SERVER_ID:
#            BLACKFIRE_SERVER_TOKEN:

    db:
        ports:
            - "5432:5432"
