@import "fonts/fonts";
@import "styles/vars-and-mixins";

body {
    margin: 0 auto;
    background: linear-gradient(206deg, #306ffb, #36d1dc) no-repeat fixed #306ffb;
    font-family: $font-roboto;
    @include text--default;
    color: #fff;
    text-align: center;
}

input, select {
    appearance: none;
    padding: 0 17px;
    border: 0;
    height: 55px;
    box-sizing: border-box;
    font-family: $font-roboto;
    background: #fff;
    color: #444;
    width: 100%;
    margin-bottom: 13px;
    border-radius: 3px;
    @include text--default;
    @include movement;
}

select {
    background-image: url('images/arrows.svg');
    background-repeat: no-repeat;
    background-position: right 17px center;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-height: $height-app) {
        height: 100vh;
    }
}

.icon {
    width: 16px;
    height: 16px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;

    &--facebook {
        width: 9px;
    }

    &--twitter {
        width: 15px;
    }

    &--em {
        width: 40px;
        height: 16px;
    }

    &--gh {
        width: 21px;
        height: 21px;
    }

    &--emoji {
        width: 84px;
        height: 84px;
    }
}

.modal, .page {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    width: 100%;
}

.modal {
    background: $bg-teal;
    transition: all 0.3s;
    animation: slideup 0.3s steps(98) forwards;
    z-index: 100;

    &__content {
        max-width: 375px;
        margin: 0 auto;
        transition: all 0.3s;
        opacity: 0;
        animation: showcontent 0.3s steps(100) forwards;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px 30px;

        a {
            text-decoration: none;

            &, &:visited, &:focus, &:hover {
                color: #fff;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__title {
        font-family: $font-gillsans;
        font-size: 24px;
        margin: 0 0 10px 0;
        padding: 0 40px;
    }

    &__subtitle, &__text {
        font-family: $font-roboto;
        @include text--default;
        margin: 0 0 25px 0;
        padding: 0 40px;

        &--small {
            @include text--small;
        }
    }

    &__field {
        padding: 0 20px;

        textarea {
            padding: 30px;
            border: 0;
            height: 250px;
            box-sizing: border-box;
            font-size: 20px;
            font-family: "Source Code Pro", "Menlo", "Courier New", monospace;
            background: #fff;
            width: 100%;
            color: #666666;
        }
    }
}

.page {
    max-width: 375px;
    margin: 0 auto;

    &__button {
        display: block;
        padding: 16px 25px;
        border: 0;
        box-sizing: border-box;
        @include text--default;
        font-family: $font-roboto;
        background: $button-blue;
        width: 100%;
        margin-bottom: 13px;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        @include movement;

        &:hover {
            background-color: #0c48c5;
        }

        &--small {
            font-size: 14px;
            text-decoration: none;
            padding: 6px;
        }
    }
}

.content {
    padding: 30px 15px;
}

.legalities {
    margin-top: 10px;
    @include text--small;
}

/*
 * Footer
 */
.footer {
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 100%;
    font-size: 12px;
    z-index: 200;

    &__content {
        padding: 10px;

        .icon {
            fill: #fff;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
    }

    &__button {
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
        font-size: 12px;
        font-family: $font-roboto;
        background: transparent;
        margin: 0 5px;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        min-width: 30px;
        transition: 0.2s;

        &:hover {
            background-color: rgba(255, 255, 255, .2);
        }
    }

    &__credits {
        margin-top: 8px;

        span, .icon {
            display: inline-block;
            vertical-align: middle;
        }

        .icon {
            margin: 0 5px;
        }
    }
}

/*
 * Form error
 */
.form-error {
    color: #fff;
    background: rgba(255, 0, 0, 0.3);
    border-radius: 3px;
    margin-bottom: 13px;
    padding: 5px;
}

/*
 * Home
 */
.home {
    &__title {
        @include h1;
        margin: 0 0 10px 0;
        padding: 0;
    }

    &__subtitle {
        margin: 0 0 25px 0;
    }

    &__field input[type="number"] {
        @media (max-width: $width-iphone5) {
            font-size: 14px;
        }
    }

    &__explainer {
        display: block;
        background: transparent;
        border: 0;
        color: white;
        text-align: right;
        width: 100%;
        margin: -10px 0 8px;
        font-size: 12px;
        transition: .2s all;
        cursor: pointer;

        @media (max-width: $width-phone) {
            margin-bottom: 15px;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}

/*
 * Exoneration
 */
.exoneration {
    &__icon {
        margin: 0 0 10px 0;
    }

    &__title {
        font-family: $font-gillsans;
        font-size: 24px;
        margin: 0 0 10px 0;
        padding: 0;
    }

    &__subtitle {
        @include h2;
        margin-bottom: 20px;
    }

    &__label {
        @include text--default;
        margin: 0 0 15px 0;
        padding: 0 20px;
    }
}

/*
 * No exoneration
 */
.noexo {
    &__icon {
        margin: 0 0 10px 0;
    }

    &__title {
        @include h1;
        margin: 0 0 10px 0;
        padding: 0;
    }

    &__subtitle {
        @include h2;
        margin-bottom: 50px;
    }
}

/*
 * Result
 */
.result {
    &__title {
        @include h1;
        margin: 0 0 40px 0;
        padding: 0;
    }

    &__years {
        font-family: $font-roboto;
        font-size: 24px;
        font-weight: 500;
        margin: 0 0 40px 0;
    }

    &__year {
        display: inline-block;
        margin: 0 0 15px 0;
        padding: 2px 13px;

        &--highlight {
            color: white;
            background-image: linear-gradient(to right, transparent 50%, #edf861 50%);
            background-origin: 0;
            background-size: 200% 50%;
            transition: all 0.5s;
            mix-blend-mode: multiply;
            animation: highlighter 0.5s steps(100) forwards;
        }
    }
}
