@import url('https://fonts.googleapis.com/css?family=ABeeZee|Nunito:400,700');
@import './variables';

body {
    margin: 0 auto;
    background: #f7f8fc;
    font-family: $font-body;
    @include text--default;
    color: $color-body;
    text-align: center;
}

input[type="text"], input[type="number"], select {
    appearance: none;
    padding: 0 17px;
    border: 1px solid #e0e0e0;
    height: 55px;
    box-sizing: border-box;
    font-family: $font-body;
    background: #fff;
    color: #444;
    width: 100%;
    margin-bottom: 13px;
    border-radius: 3px;
    @include text--default;
    @include movement;
}

select {
    background-image: url('images/arrows.svg');
    background-repeat: no-repeat;
    background-position: right 17px center;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-height: $height-app) {
        height: 100vh;
    }
}

.page {
    max-width: 375px;
    margin: 0 auto;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    width: 100%;

    &__button {
        display: block;
        padding: 16px 25px;
        border: 0;
        box-sizing: border-box;
        @include text--default;
        font-family: $font-body;
        background: $button-blue;
        width: 100%;
        margin-bottom: 13px;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        @include movement;

        &:hover {
            background-color: #0c48c5;
        }

        &--small {
            font-size: 14px;
            text-decoration: none;
            padding: 6px;
        }

        &--outline {
            border: 1px solid $button-blue;
            background: transparent;
            color: $button-blue;

            &:hover {
                border: 1px solid $button-blue;
                background: transparent;
                color: $button-blue;
                text-decoration: underline;
            }
        }
    }
}

.content {
    padding: 30px 15px;
}

.legalities {
    margin-top: 10px;
    @include text--small;
}

/*
 * Form
 */
.form-error {
    color: #FF0000;
    background: rgba(255, 0, 0, 0.1);
    border-radius: 3px;
    margin-bottom: 13px;
    padding: 5px;
}

.form-checkbox {
    display: flex;
    align-items: center;
    position: relative;

    label {
        display: flex;
        align-items: flex-start;
        margin: 5px 0;
        text-align: left;
        cursor: pointer;

        &:before {
            content: ' ';
            width: 25px;
            height: 25px;
            min-width: 25px;
            min-height: 25px;
            margin-right: 10px;
            border-width: 2px;
            transition: all 0.2s;
            background: #dedede;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        div {
            margin-top: 2px;
        }
    }

    &:hover label:before {
        background: #ababab;
    }

    input[type='checkbox'] {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &:checked + label:before {
            border-color: $button-blue;
            background: $button-blue;
            content: url("data:image/svg+xml;utf8,<svg width='14px' height='10px' viewBox='73 77 14 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><polygon id='check' stroke='none' fill='%23FFFFFF' fill-rule='evenodd' points='73.1888049 82.5586077 74.5051607 80.8107776 80.0959758 85.0260906 78.77962 86.7739208'></polygon><polygon id='mark' stroke='none' fill='%23FFFFFF' fill-rule='evenodd' points='77.2807085 85.3731308 85.0384399 77.0539824 86.6382761 78.5458538 78.8805447 86.8650022'></polygon></svg>");
        }
    }

    &--disabled {
        opacity: 0.6;

        &:hover label:before {
            background: #fff !important;
        }
    }
}

/*
 * Not found
 */
.not-found {
    &__title {
        @include h1;
        margin: 0 0 10px 0;
        padding: 0;
    }

    &__subtitle {
        margin: 0 0 25px 0;
    }

    &__button {
        margin-top: 40px;
    }
}

/*
 * Home
 */
.home {
    &__title {
        @include h1;
        margin: 0 0 10px 0;
        padding: 0;
    }

    &__subtitle {
        margin: 0 0 25px 0;
    }

    &__checkbox {
        margin-bottom: 5px;
    }

    &__field input[type="number"] {
        @media (max-width: $width-iphone5) {
            font-size: 14px;
        }
    }

    &__explainer {
        display: block;
        background: transparent;
        border: 0;
        color: white;
        text-align: right;
        width: 100%;
        margin: -10px 0 8px;
        font-size: 12px;
        transition: .2s all;
        cursor: pointer;

        @media (max-width: $width-phone) {
            margin-bottom: 15px;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}
