@import "fonts/fonts";
$height-app: 650px;

html, body, #app {
    height: 100%;

    @media (max-height: $height-app) {
        height: auto;
    }
}

body {
    margin: 0 auto;
    background: linear-gradient(206deg, #306ffb, #36d1dc) no-repeat fixed #306ffb;
    font-family: $font-roboto;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

input, select {
    appearance: none;
    padding: 0 17px;
    border: 0;
    height: 55px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: $font-roboto;
    background: #fff;
    width: 100%;
    margin-bottom: 13px;
    border-radius: 3px;
}

select {
    background-image: url('images/arrows.svg');
    background-repeat: no-repeat;
    background-position: right 17px center;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.icon {
    width: 16px;
    height: 16px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;

    &--em {
        width: 40px;
        height: 16px;
    }

    &--gh {
        width: 21px;
        height: 21px;
    }

    &--emoji {
        width: 84px;
        height: 84px;
    }
}

.modal, .page {
    align-self: flex-start;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.modal {
    background: #32a5ca;
    height: 570px;

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px 30px;

        a {
            text-decoration: none;

            &, &:visited, &:focus, &:hover {
                color: #fff;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__content {
        max-width: 375px;
        margin: 0 auto;
    }

    &__title {
        font-family: $font-gillsans;
        font-size: 24px;
        margin: 0 0 10px 0;
        padding: 0 40px;
    }

    &__subtitle {
        font-family: $font-roboto;
        font-size: 16px;
        margin: 0 0 25px 0;
        padding: 0 40px;
    }

    &__field {
        padding: 0 20px;

        textarea {
            padding: 30px;
            border: 0;
            height: 250px;
            box-sizing: border-box;
            font-size: 20px;
            font-family: "Source Code Pro", "Menlo", "Courier New", monospace;
            background: #fff;
            width: 100%;
            color: #666666;
        }
    }
}

.page {
    max-width: 375px;
    margin: 0 auto;

    &__button {
        display: block;
        padding: 16px 25px;
        border: 0;
        box-sizing: border-box;
        font-size: 16px;
        font-family: $font-roboto;
        background: #0f4dcf;
        width: 100%;
        margin-bottom: 13px;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        transition: .1s;

        &:hover {
            background-color: #0c48c5;
        }
    }
}

.content {
    padding: 30px 15px;
}

.legalities {
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
}

/*
 * Footer
 */
.footer {
    align-self: flex-end;
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 100%;
    font-size: 12px;

    &__content {
        padding: 10px;

        .icon {
            fill: #fff;
        }
    }

    &__button {
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
        font-size: 12px;
        font-family: $font-roboto;
        background: transparent;
        margin: 0 5px;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        vertical-align: top;

        &--facebook {
            padding: 7px 4px 4px 11px;
        }

        &--twitter {
            padding: 7px 6px 4px 9px;
        }

        &--iframe {
            padding: 8px;
        }
    }

    &__credits {
        margin-top: 8px;

        span, .icon {
            display: inline-block;
            vertical-align: middle;
        }

        .icon {
            margin: 0 5px;
        }
    }
}

/*
 * Home
 */
.home {
    &__title {
        font-family: $font-gillsans;
        font-size: 24px;
        margin: 0 0 10px 0;
        padding: 0;
    }

    &__subtitle {
        margin: 0 0 25px 0;
    }
}

/*
 * Congratulations
 */
.congrats {
    &__icon {
        margin: 0 0 10px 0;
    }

    &__title {
        font-family: $font-gillsans;
        font-size: 24px;
        margin: 0 0 10px 0;
        padding: 0;
    }

    &__subtitle {
        font-family: $font-gillsans;
        font-size: 16px;
        margin: 0 0 20px 0;
    }

    &__label {
        font-size: 14px;
        margin: 0 0 15px 0;
        padding: 0 20px;
    }
}

/*
 * No exoneration
 */
.noexo {
    &__icon {
        margin: 0 0 10px 0;
    }

    &__title {
        font-family: $font-gillsans;
        font-size: 24px;
        margin: 0 0 10px 0;
        padding: 0;
    }

    &__subtitle {
        font-family: $font-gillsans;
        font-size: 18px;
        margin: 0 0 20px 0;
    }
}

/*
 * Result
 */
.result {
    &__title {
        font-family: $font-gillsans;
        font-size: 24px;
        margin: 0 0 40px 0;
        padding: 0;
    }

    &__years {
        font-family: $font-roboto;
        font-size: 24px;
        font-weight: 500;
        margin: 0 0 40px 0;
    }

    &__year {
        display: inline-block;
        margin: 0 0 15px 0;
        padding: 2px 13px;

        &--highlight {
            background-color: #edf861;
            color: #5d5d5d;
        }
    }
}
